@import 'tailwindcss';
@import 'tw-animate-css';

@theme {
	--color-primary: #ef7722;
	--color-secondary: #fdbea9;
	--color-outline: var(--color-primary);
	--color-text: var(--color-black);
	--color-text-hover: var(--color-white);
	--color-input: var(--color-white);

	--color-login-bg: var(--color-gray-50);
	--color-chat-bg: var(--color-gray-50);
	--color-sidebar-bg: var(--color-white);
	--color-chat-input-bg: var(--color-white);
	--color-user-bg: var(--color-secondary);
	--color-popup-bg: var(--color-white);
	--color-component-bg: var(--color-white);
}

[data-theme='dark'] {
	--color-primary: var(--color-orange-600);
	--color-secondary: var(--color-amber-300);
	--color-outline: #ccc;
	--color-text: var(--color-white);
	--color-text-hover: var(--color-white);
	--color-input: var(--color-stone-700);

	--color-login-bg: #0d1117;
	--color-chat-bg: #0d1117;
	--color-sidebar-bg: var(--color-stone-700);
	--color-chat-input-bg: var(--color-stone-700);
	--color-user-bg: var(--color-stone-700);
	--color-popup-bg: var(--color-stone-800);
	--color-component-bg: var(--color-stone-700);
}

[data-theme='blue'] {
	--color-primary: #1378d6;
	--color-secondary: #12395c;
	--color-outline: #ccc;
	--color-text: var(--color-white);
	--color-text-hover: #0d1117;
	--color-input: var(--color-slate-700);

	--color-login-bg: #0d1117;
	--color-chat-bg: #0d1117;
	--color-sidebar-bg: var(--color-slate-700);
	--color-chat-input-bg: var(--color-slate-700);
	--color-user-bg: var(--color-slate-700);
	--color-popup-bg: var(--color-slate-800);
	--color-component-bg: var(--color-slate-700);

	--color-background: #0d2840;

	--color-light: #12395c;
	--color-dark: white;
}

.nobar {
	-ms-overflow-style: none;
	/* Internet Explorer 10+ */
	scrollbar-width: none;
	/* Firefox, Safari 18.2+, Chromium 121+ */
}

.nobar::-webkit-scrollbar {
	display: none;
	/* Older Safari and Chromium */
}

.editor:focus-visible {
	outline: none;
}

.editor::-webkit-scrollbar {
	display: none;
}

@layer base {
	/* disable chrome cancel button */
	input[type='search']::-webkit-search-cancel-button {
		display: none;
	}
}

.katex {
	font-weight: bold !important;
}

.katex .mord,
.katex .mop,
.katex .mrel {
	font-weight: 700 !important;
}

@layer utilities {
	.h-screen {
		height: 100svh;
	}
	.h-screen {
		height: 100svh, 100vh;
	}
}
